.admin-box{
    color: rgb(22, 20, 20);
    background-color: rgb(86, 132, 132);
    width: 500px;
    margin: 50px auto;
    text-align: center;
    padding: 5px;
    transition: all;
    border: 5px;
}
body{
    background-color: rgb(60, 60, 9);
    color: black;
}